<%= form_tag((ENV["RAILS_RELATIVE_URL_ROOT"].nil? ? "" : ENV["RAILS_RELATIVE_URL_ROOT"]) + '/search#results', method: "post", remote: true, id: "search") do %>
  <h3><%= label_tag(:sequence, "Sequence:") %><br/></h3>
  <span class="small gray">nucleotides alphabet: a, t, c, g</span><br/>
  <%= text_area_tag(:sequence, @opts[:sequence], "data-validation": "atcg") %><br/>

  <div>
    <div id="start-codons" class="codons-wrapper mar-t-1em left">
      <%= label_tag(:start, "Start Codons:") %><br/>
      <div class="codons">
        <%- @opts[:start].each_with_index do |el, i| %>
          <%= sequence_field_tag("stop[#{i}]", el.to_s, false, (@opts[:same_as_codon_table] ? ['hidden'] : nil ), '', @opts[:same_as_codon_table]) %>
        <%- end  %>
      </div>
      <%= sequence_field_tag("start", "", true) %>
      <a href="javascript:void(0)" class="fa add_prev mar-l-1em" alt="Add" title="Add">
        &#xf067;
      </a>
    </div>

    <div id="stop-codons" class="mar-t-1em right">
      <%= label_tag(:stop, "Stop Codons:") %><br/>
      <div class="codons">
        <div id="codons-custom">
          <%- @opts[:stop].each_with_index do |el, i| %>
            <%= sequence_field_tag("stop[#{i}]", el.to_s, false, (@opts[:same_as_codon_table] ? ['hidden'] : nil ), '', @opts[:same_as_codon_table]) %>
          <%- end  %>
        </div>
      </div>
      <%= sequence_field_tag("stop", "", true) %>
      <a href="javascript:void(0)" class="fa add_prev mar-l-1em" alt="Add" title="Add">
        &#xf067;
      </a>
    </div>
    <div class="mar-l-1em">
      <%= check_box_tag(:same_as_codon_table, true, @opts[:same_as_codon_table], class: "checkbox-custom") %>
      <%= label_tag(:same_as_codon_table, "Use same start/stop as defined in codon table below", class: "checkbox-custom-label") %>
    </div>
  </div>

  <h3>Additional options:</h3>
  <div class="mar-l-1em">
    <%= check_box_tag(:direct, true,  @opts[:direct], class: "checkbox-custom") %>
    <%= label_tag(:direct, "Direct", class: "checkbox-custom-label") %>

    <%= check_box_tag(:reverse, true, @opts[:reverse], class: "checkbox-custom") %>
    <%= label_tag(:reverse, "Reverse", class: "checkbox-custom-label") %><br/>

    <%= label_tag(:min, "Minimum lenght") %>
    <%= text_field_tag(:min, Integer(@opts[:min]), "data-validation": "required number") %><br/>
  </div>

  <h3>Codon Table</h3>
  <div class="mar-l-1em">to use in translation from Nuclei-Acid to Amino-Acid</div>
  <div class="mar-l-1em">
    <div>
      <%= render('codon_table_option', seq: (0..3), hide: false) %>
    </div>
    <div class="hidden">
      <%= render('codon_table_option', seq: (4..(Bio::CodonTable::TABLES.size - 1)), hide: true) %>
    </div>
    <div class="show-hidden">
      ... <a href="javascript:void(0)">Show more tables</a><br/>
      <br/>
    </div>
  </div>
  <%= submit_tag("Search") %>
<% end %>
