<%= form_tag(ENV["RAILS_RELATIVE_URL_ROOT"] + '/search#results', method: "post") do %>
  <h3><%= label_tag(:sequence, "Sequence:") %><br/></h3>
  <span class="small gray">nucleotides alphabet: a, t, c, g</span><br/>
  <%= text_area_tag(:sequence, @opts[:sequence], "data-validation": "atcg") %><br/>

  <div class="codons">
    <div id="start-codons" class="mar-t-1em left">
      <%= label_tag(:start, "Start Codons:") %><br/>

      <div class="codons">
        <%- @opts[:start].each_with_index do |el, i| %>
          <%= sequence_field_tag("start[#{i}]", el.to_s) %>
        <%- end  %>
      </div>
      <%= sequence_field_tag("start", "", true) %>
      <a href="javascript:void(0)" class="add_prev mar-l-1em" alt="Add" title="Add">
        <%= image_tag('add.svg', height: 20, width: 20) %>
      </a>
    </div>

    <div id="stop-codons" class="mar-t-1em right">
      <%= label_tag(:stop, "Stop Codons:") %><br/>
      <div class="codons">
        <%- @opts[:stop].each_with_index do |el, i| %>
          <%= sequence_field_tag("stop[#{i}]", el.to_s) %>
        <%- end  %>
      </div>
      <%= sequence_field_tag("stop", "", true) %>
      <a href="javascript:void(0)" class="add_prev mar-l-1em" alt="Add" title="Add">
        <%= image_tag('add.svg', height: 20, width: 20) %>
      </a>
    </div>
  </div>

  <h3>Additional options:</h3>
  <div class="mar-l-1em">
    <%= check_box_tag(:reverse, true, @opts[:reverse]) %>
    <%= label_tag(:reverse, "Reverse") %><br/>

    <%= check_box_tag(:direct, true,  @opts[:direct]) %>
    <%= label_tag(:direct, "Direct") %><br/>

    <%= label_tag(:min, "Minimum lenght") %>
    <%= text_field_tag(:min, Integer(@opts[:min]), "data-validation": "required number") %><br/>
  </div>
  <%= submit_tag("Search") %>
<% end %>
